* {
  box-sizing: border-box;        
}
.head {
  width: 85%;
  border: gray 1px solid;
  padding: 10px;
  background-color: white;
  text-align: center;
  border-radius: 10px 20px 30px 40px / 5px 10px 5px 10px;
  box-shadow: 2px 2px 2px gray;
}
.article01 {
  width: 85%;
  padding: 20px 50px;
  margin: 10px 0px;
  border: gray 1px solid;
  border-radius: 80% / 20%;
  box-shadow: 2px 2px 2px gray;
}
.foot {
  width: 85%;
  border: gray 1px solid;
  padding: 10px;
  background-color: white;
  text-align: center;
  border-radius: 5px 10px / 20px;
  box-shadow: 2px 2px 2px gray;
}