* {
  box-sizing: border-box;        
}
.head {
  width: 85%;
  border: gray 1px solid;
  padding: 10px;
  background-color: white;
  text-align: center;
  border-top-left-radius: 10px;
  border-top-right-radius: 10px;
  box-shadow: 2px 2px 2px gray;
}
.article01 {
  width: 85%;
  padding: 20px 50px;
  margin: 10px 0px;
  border: gray 1px solid;
  border-radius: 20px;
  box-shadow: 2px 2px 2px gray;
}
.foot {
  width: 85%;
  border: gray 1px solid;
  padding: 10px;
  background-color: white;
  text-align: center;
  border-radius: 0px 0px 10px 10px;
  box-shadow: 2px 2px 2px gray;
}