
body { padding: 10px; }
:first-child { border: 2px solid red;  }
:last-child { border: 2px solid black;  }
tr:nth-child(odd) { background: lightgray; }
tr:nth-child(even) { background: grey; }
li:nth-last-child(odd) { color: blue; }
li:nth-last-child(even) { color: red; }