/* Datei: style.css
 */

 
/* Styling für alle Elemente mit dem Attribut title
 */
a[title] { border: 4px solid black; } 
 
 [title~=hallo]{ border: 4px solid red; } 
/* Styling for alle a-Element mit dem Attribut title
 */
a[href$=".pdf"]{ border: 4px solid #DB00FF; } 


