<!DOCTYPE html>
<html lang="de">
  <head>
    <meta charset="utf-8">
    <title>HTML-Grundgerüst</title>
  
    <link rel="stylesheet" href="css/layout.css">
  </head>
  <body>
 	<div class="grid">
 		<header class="header">header</header>
 		<nav class="nav">
 			<ul class="nav-ul">
 				<li class="nav-li"><a href="#">Menüpunkt 1</a></li>
 				<li class="nav-li"><a href="#">Menüpunkt 2</a></li>
 			</ul>
 		
 		</nav>
 		<main class="content">content</main>
 		<aside class="aside">aside</aside>
 		<footer class="footer">footer</footer>
 	</div>
 
 
  </body>
</html>
