*{
  box-sizing: border-box;        
}
.headfoot {
  width: 750px;
  border: gray 1px dotted;
  padding: 10px;
  background-color: olivedrab;
  color: white;
  text-align: center;
}
.article01 {
  width: 750px;
  padding: 20px 50px;
  background: white url('../bilder/pattern.png') left no-repeat;
  background-size: 100% 100%;
}