@charset "UTF-8";

ul {
	
  padding: 0;
}
.nav-ul {

   
   background-color: #ff383f; /* Watermelon */
   margin:0;
}
.nav-li {
  display: inline; 
   list-style: none;
   margin-left: 0;
   border-bottom: 1px solid #efefef;
}
.nav-li-a {
	
   
}
.nav-ul a:link {
    text-decoration: none; 
}
.nav-ul a:link, .nav-ul a:visited {
   color: #fff; /* white*/
}
.nav-ul a:hover, .nav-ul a:focus, .nav-ul a:active {
   background-color: #000; /* Black */
   color: #efefef; /* Neutral */
}
.nav-active {
   color: #000; /* Black */
   background-color: #fff; /* White */
}




.grid {
	display: grid;
	grid-template-rows: 100px auto auto auto 100px;
	grid-template-columns: 10% 10% 10% 10% 10% 10% 10% 10% 10% 10% ;
	
}

.header {
	/* grid-area: row-start / column-start / row-end / column-end */ 
	grid-area: 1 / 1 / 2 / 11;
	text-align:right;
	background-color: #07889b;
	color: efefef;
	border-bottom: 1px solid #efefef;
}

.nav {
	grid-area:2 / 1 / 3 / 11;
	border: 2px solid #efefef;
	
}

.content {
	grid-area:3 / 1 / 5 / 8;	
	border: 2px solid #efefef;
	
}

.aside {
	grid-area:3 / 8 / 5 / 11;
	border: 2px solid #efefef;
	
}

.footer {
	grid-area: 5 / 1 / 6 / 11;
	border: 2px solid #efefef;
	
}