/* CSS Document */

math {
		font-size: 20px;
	 }

input {
	width: 20px;
}
p input {
	width: 40px;
}

/* CSS für die Tabelle */
    table {
        width: 50%;
        margin: 10px auto;
        border-collapse: collapse;
        box-shadow: 0 2px 3px rgba(188,185,185,0.10);
    }
    th, td {
        padding: 12px 15px;
        border: 1px solid #ddd;
        text-align: left;
    }
    th {
        background-color: #EFBCFA;
        color: #333;
    }
    tr:nth-child(odd) {
        background-color: #f9f9f9;
    }
    tr:hover {
        background-color: #D5D1D4;
    }


.artikel 
	{
		width: 40%;
		background-color: aliceblue;
		padding: 10 px;
		
	}
article header 
	{
		
		background-color: #36A1FF;
		color: #F5F5F5;
		
	}
article footer 
	{
		
		background-color: #D6D9DC;
		color: #FFFFFF;
		
	}
header h1 
	{
		font-size: 20px;		
	}

article img
	{
		height: 350px;
	}
a:link { text-decoration:none; color: #FFFFFF; }
a:hover { color: #C2C2C2 }
a:active { color: #D7C0CC; }


.beliebtesteKneipe{
	position: absolute;
	top: 0;
	left: 500px;
	width: 200px;
	padding: 10px;
	border: 1px solid blue;
	background-color: darkorange;
}

