* {
    color: black;
    background: transparent;
}

header, nav, aside, footer { display: none; }

article {
  border: 0;
  padding: 5px;
  margin:0;
  width: 100%;
  font-size: 100%;
}
 
article img {
  float: left;
  margin-right: 10px;
  margin-bottom: 10px;
  border: 3px solid white;
}
 
main { width: 70%; }